body {
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
    color: rgba(0, 0, 255, 0.7);
}
#image-gallery {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10%;
}
h3 {
    text-align: center;
    color: rgba(0, 255, 0, 0.7);
}
figure {
    text-align: center;
}
figcaption {
    font-style: italic;
    font-size: 0.75em;
    color: rgba(255, 0, 0, 0.7);
}